# MSG91 OTP Widget Configuration Example
NEXT_PUBLIC_MSG91_WIDGET_ID=3668776a6f65313935373431
NEXT_PUBLIC_MSG91_WIDGET_TOKEN=563549TIHmC7w7bhL6a8acd1aP1
NEXT_PUBLIC_BACKEND_URL=https://homatri-backend-195132182954.us-central1.run.app
NEXT_PUBLIC_GCP_STORAGE_BUCKET=homatri-media-prod-503308
